.container {
   width: 90%;
   display: flex;
   justify-content: space-between;
   gap: 30px;
}

.form {
   display: flex;
   flex-direction: column;
   gap: 5px;
}

.formLife {
   width: 40%;
}

.formSpell {
   width: 60%;
}

.inputText {
   text-align: center;
   width: 30px;
}

.inputLabel {
   width: 100%;
   display: flex;
   justify-content: space-between;
   gap: 5px;
}

.submitContainer {
   display: flex;
   align-items: center;
   gap: 10px;
}

.select {
   text-align: center;
}

.button {
   padding: 0 5px;
}

.ok {
   filter: invert(74%) sepia(68%) saturate(452%) hue-rotate(59deg)
      brightness(102%) contrast(104%);
}
