.container {
   position: relative;
   width: 100%;
   height: 30px;
   overflow: hidden;
}

.title {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 100%;
}

.close {
   margin-right: 10px;
   width: 15px;
   cursor: pointer;
}

.deleteContainer {
   position: absolute;
   display: flex;
   flex-direction: column;
   justify-content: center;
   border-radius: 0 5px 5px 0;
   height: 100%;
   width: 50px;
   background-color: red;
   right: 0;
   top: 0;
   z-index: 1;
}

.deleteButton {
   align-self: flex-end;
   margin-right: 5px;
   width: 25px;
   right: 5px;
   cursor: pointer;
}
