.header {
   width: 100%;
   padding: 10px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: #5d557c;
   color: white;
   text-transform: uppercase;
   font-weight: 700;
}

.header a {
   color: white;
}

.header a:hover {
   color: orange;
}

.logout:hover {
   color: orange;
}

.menu {
   display: flex;
   justify-content: space-between;
   gap: 20px;
}

.settings {
   display: flex;
   gap: 5px;
   cursor: pointer;
}

.categories {
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 10px;
}
