.header {
   padding: 10px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.menu {
   display: flex;
}

.settings {
   display: flex;
   gap: 5px;
   cursor: pointer;
}
