.container {
   width: 100%;
   display: flex;
   text-align: center;
   padding: 10px;
}

h3 {
   font-size: 1.5em;
}

.form {
   width: 100%;
   display: flex;
   flex-direction: column;
   gap: 20px;
}

.lifeForm {
   align-items: center;
}

.inputContainer {
   display: flex;
   gap: 5px;
}

.inputContainer label {
   font-size: 1.2em;
   font-weight: 500;
}

.inputContainer input {
   text-align: center;
   font-size: 1em;
}

.inputContainer input.inputLife {
   width: 50px;
}

.button {
   width: 40%;
   background-color: #5d557c;
   color: white;
   padding: 5px;
   border-radius: 5px;
   font-weight: 700;
}
