.container {
   display: flex;
   padding: 10px;
}

.form {
   display: flex;
   flex-direction: column;
   gap: 5px;
}

.inputLabel {
   width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   gap: 5px;
}

.button {
   background-color: #5d557c;
   color: white;
   padding: 5px;
   border-radius: 5px;
   font-weight: 700;
}
